.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.form-maybe {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #333;
}

.form-maybe a {
    color: #4574a0;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
    /* display: none; */
}

.alert-success {
    background-color: #4CAF50;
}

.alert-error {
    background-color: #f44336;
}

.tooltip {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip .icon {
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.edit-password-btn {
    text-decoration: underline;
    color: #4574a0;
    cursor: pointer;
}

.edit-password-form {
    display: none;
    margin-top: 20px;
}

.active {
    display: block;
}
